.unit-converter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--font-color-pg);
    letter-spacing: 2px;
    gap: 30px;
    width: 100%;

    @media screen and (max-width: 1600px) {
        flex-direction: column;
        gap: 10px;
    }

    .vertical-line {
        @media screen and (max-width: 1600px) {
            display: none;
        }
    }

    .horizontal-line {
        @media screen and (min-width: 1600.5px) {
            display: none;
        }
    }

    .converter {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--font-color-hl);
        background-color: var(--darker-bg);
        gap: 15px;
        padding: 50px 5px 50px 5px;
        border: 3px solid var(--header-sidebar-color-bg);
        border-radius: 5px;
        margin: 15px;
        width: 21%;
        min-width: 290px;

        .unit-dropdown-wrapper {
            display: flex;
            flex-direction: row;
            gap: 10px;
            background-color: inherit;
        
        }

        .result {
            align-items: center;
        }
    }

}
