#unitconverter-sidebar-id {
    background-color: var(--hover-color);

    &:hover {
        background-color: var(--light-hover-color); 
    }
} 

.converter-dropdown-1 {
    width: 447px;
    height: 32px;
    margin-bottom: 10px;
    padding: 5px 16px 5px 5px;
    border: 1px solid var(--hover-color);
    background-color: var(--light-background);
    color: var(--font-color);
    border-radius: 10px;
}

#choose-from-data-transfer-rate,
#choose-from-pressure,
#choose-from-energy,
#choose-from-area,
#choose-from-angular-area,
#choose-from-frequency,
#choose-from-speed,
#choose-from-fuel-consumption,
#choose-from-length,
#choose-from-mass,
#choose-from-temperature,
#choose-from-volume,
#choose-from-time,
#choose-to-data-transfer-rate,
#choose-to-pressure,
#choose-to-energy,
#choose-to-area,
#choose-to-angular-area,
#choose-to-frequency,
#choose-to-speed,
#choose-to-fuel-consumption,
#choose-to-length,
#choose-to-mass,
#choose-to-temperature,
#choose-to-volume,
#choose-to-time {
    display: none;
}  

.converter-dropdown {
    width: 210px;
    height: 32px;
    padding: 5px 16px 5px 5px;
    border: 1px solid var(--hover-color);
    background-color: var(--light-background);
    color: var(--font-color);
    border-radius: 0px 0px 10px 10px;
}

.all-converter {
    height: 220px;
    padding: 20px 16px 24px;
    width: fit-content;
    min-width: 650px;
    border: 1.7px dashed var(--line-color);
    border-radius: 10px;
    margin: 40px 15px 15px 15px;
    font-family: var(--font-family-1);

    .converter-from-to-wrapper {
        margin-top: 10px;
        display: flex;

        .equal {
            width: 27px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }

        .converter-from-to {
            display: flex;
            flex-direction: column;

            input {
                padding: 0px 10px 0px 10px;
                height: 40px;
                border: 1px solid var(--hover-color);
                background-color: var(--background-color);
                color: var(--font-color);
                border-radius: 10px 10px 0px 0px;
            }
        }
    }

    .converter-formula {
        margin-top: 15px;
        display: flex;
        font-size: var(--normal-font-size);


        .formula-icon {
            padding: 5px;
            background-color: var(--hover-color);
            border-radius: 5px;
        }
    }
}







