#generator-sidebar-id {
    background-color: var(--hover-color);

    &:hover {
        background-color: var(--light-hover-color); 
    }
}

.qrcode-wrapper {
    padding: 5px;
    border: 2px solid var(--control-color);
    border-radius: 10px;
    width: 145px;
    height: 145px;
    display: flex;
    justify-content: center;
}





