

<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <footer class="main-footer">
            <div class="horizontal-line" style="width: 100%;"></div>
            <div class="info">
                <div class="info-content">
                    <button class="button-style-1" onclick="ClearLocalStorage()">Clear Local Storage</button>
                </div>
            </div>
            <div class="lines">
                <div class="linear-gradient"></div>
                <div class="bigline"></div>
            </div>
        </footer>
    </body>
</html>