<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <aside class="sidebar">
            <!-- calculator -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="calculator.html">
                <i class="bx bx-calculator"></i>
              </a>
              <div class="extend-sidebar">
                <span>Calculator</span>
                <a href="#" onclick="openWindowMiniWindow('minicalculator.html')">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- file converter -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="fileconverter.html">
                <i class="bx bxs-file-export"></i>
              </a>
              <div class="extend-sidebar">
                <span>File Converter</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- unit converter -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="unitconverter.html">
                <i class='bx bx-transfer-alt'></i>
              </a>
              <div class="extend-sidebar">
                <span>Unit Converter</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- Time Zone Converter -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="timezoneconverter.html">
                <i class='bx bx-world' ></i>
              </a>
              <div class="extend-sidebar">
                <span>TimeZone Converter</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- image compressor -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="/filecompressor.html">
                <i class='bx bx-collapse-alt'></i>
              </a>
              <div class="extend-sidebar">
                <span>File Compressor</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- Cooking -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="cooking.html">
                <i class='bx bx-bowl-hot'></i>
              </a>
              <div class="extend-sidebar">
                <span>Cooking</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- timer -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="timer.html">
                <i class='bx bxs-timer' ></i>
              </a>
              <div class="extend-sidebar">
                <span>Timer</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- colorpicker -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="colorpicker.html">
                <i class="bx bx-color"></i>
              </a>
              <div class="extend-sidebar">
                <span>Color Picker</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- generator -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="generator.html">
                <i class='bx bx-shuffle'></i>
              </a>
              <div class="extend-sidebar">
                <span>Generator</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
              <!-- <div class="word-generator"></div>
              <div class="random-generator"></div>
              <div class="qr-code-generator"></div> -->
            </div>
            <!-- Compass -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="#">
                <i class='bx bx-compass' style='color:#ffffff' ></i>
              </a>
              <div class="extend-sidebar">
                <span>Compass</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- Games -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item" href="/games.html">
                <i class='bx bxs-invader'></i>
              </a>
              <div class="extend-sidebar">
                <span>Games</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
          </aside>
    </body>
</html>