<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <aside id="sidebar" class="sidebar">
          <!-- calculator -->
          <a href="calculator.html" id="calculator-sidebar-id" class="sidebar-item">
            <i class="bx bx-calculator"></i>
            <span>Calculator</span>
          </a>
          <!-- file converter -->
          <a href="filechanger.html" id="filechanger-sidebar-id" class="sidebar-item">
            <i class='bx bx-file'></i>
            <span>File Changer</span>
          </a>
          <!-- unit converter -->
          <a href="unitconverter.html"id="unitconverter-sidebar-id" class="sidebar-item">
            <i class='bx bx-transfer-alt'></i>
            <span>Unit Changer</span>
          </a>
          <!-- Cooking -->
          <a href="cooking.html" id="cooking-sidebar-id" class="sidebar-item">
            <i class='bx bx-bowl-hot'></i>
            <span>Cooking</span>
          </a>
          <!-- timer -->
          <a href="clock.html" id="clock-sidebar-id" class="sidebar-item">
            <i class='bx bx-time-five' ></i>
            <span>Clock</span>
          </a>
          <!-- colorpicker -->
          <a href="colorpicker.html" id="colorpicker-sidebar-id" class="sidebar-item">
            <i class='bx bxs-color'></i>
            <span>Color Picker</span>
          </a>
          <!-- generator -->
          <a href="generator.html" id="generator-sidebar-id" class="sidebar-item">
            <i class='bx bx-shuffle'></i>
            <span>Generator</span>
          </a>
          <!-- Games -->
          <a href="games.html" id="games-sidebar-id" class="sidebar-item">
              <i class='bx bxs-invader'></i>
              <span>Games</span>
          </a>
          <!-- URL Shortener -->
          <a href="urlshortener.html" id="urlshortener-sidebar-id" class="sidebar-item">
            <i class='bx bx-collapse-horizontal'></i>
            <span>URL Shor<-</span>
          </a>
          <!-- ICONS -->
          <a href="icons.html" id="icons-sidebar-id" class="sidebar-item">
            <i class='bx bx-package'></i>
            <span>Icons</span>
          </a>
          <!-- En/Decoder -->
          <a href="endecoder.html" id="endecoder-sidebar-id" class="sidebar-item">
            <i class='bx bx-code-curly'></i>
            <span>En-/Decoder</span>
          </a>
        </aside>
    </body>
</html>

