<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <aside class="sidebar">
            <!-- calculator -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="calculator.html">
                <i class="bx bx-calculator"></i>
              </a>
              <div class="extend-sidebar">
                <span>Calculator</span>
                <a href="#" onclick="openWindowMiniWindow('minicalculator.html')">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- file converter -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="fileconverter.html">
                <i class="bx bxs-file-export"></i>
              </a>
              <div class="extend-sidebar">
                <span>File Converter</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- unit converter -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="unitconverter.html">
                <i class='bx bx-transfer-alt'></i>
              </a>
              <div class="extend-sidebar">
                <span>Unit Converter</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- Time Zone Converter -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="timezoneconverter.html">
                <i class='bx bx-world' ></i>
              </a>
              <div class="extend-sidebar">
                <span>TimeZone Converter</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- image compressor -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="imagecompressor.html">
                <i class='bx bx-collapse-alt'></i>
              </a>
              <div class="extend-sidebar">
                <span>Image Compressor</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- timer -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="#">
                <i class='bx bxs-timer' ></i>
              </a>
              <div class="extend-sidebar">
                <span>Timer</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- colorpicker -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="#">
                <i class="bx bx-color"></i>
              </a>
              <div class="extend-sidebar">
                <span>Color Picker</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- password generator -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="#">
                <i class='bx bxs-lock'></i>
              </a>
              <div class="extend-sidebar">
                <span>Password Generator</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- random generator -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="#">
                <i class='bx bx-shuffle'></i>
              </a>
              <div class="extend-sidebar">
                <span>Random Generator</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
            <!-- qr code generator -->
            <div class="sidebar-item">
              <a class="sidebar-icons sidebar-item change-target" href="#">
                <i class='bx bx-qr' ></i>
              </a>
              <div class="extend-sidebar">
                <span>QR Code Generator</span>
                <a href="#">
                  <i class="bx bx-arrow-from-bottom"></i>
                </a>
              </div>
            </div>
          </aside>
    </body>
</html>