<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <aside class="sidebar-advanced" id="advanced-sidebar">
            <div class="card">
                <span>Calculator</span>
                <a class="sidebar-icons" href="calculator.html">
                    <i class="bx bx-calculator"></i>
                </a>
                <a href="#" onclick="openWindowMiniWindow('minicalculator.html')">
                      <i class="bx bx-arrow-from-bottom"></i>
                </a>
            </div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </aside>
    </body>
</html>