#calculator-sidebar-id {
    background-color: var(--hover-color);

    &:hover {
        background-color: var(--light-hover-color); 
    }
}

.calculator {
    
    font-size: var(--big-font-size);
    margin-top: 30px;

    .calc-rows {
        display: grid;
        grid-template-columns: 50px 50px 50px 50px;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .extra-row {
        display: grid;
        grid-template-columns: 110px 50px 50px;
        justify-content: center;
        gap: 10px;
    }
}

.calc-item {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--hover-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:hover {
        filter: brightness(1.5);
    }
}

.calc-item-big {
    width: 110px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--hover-color);
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}

.emphesis-1 {
    background-color: var(--emphasis-1);
}

.emphesis-2 {
    background-color: var(--emphasis-2);
}

.result {
    height: 50px;
    width: 240px;
    padding: 10px 30px 10px 10px;

    align-items: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--light-hover-color);
    border-radius: 10px;
}
